
 <%= render 'partials/navbar' %>
<!--HERO SECTION-->

<div class="container-fluid" id='#Home'>
	<div class="row">

		<div class="jumbotron ">
			<div class="hero-content ">
				<h1 class="hero-text1 display-2 "> bring your dreams</h1>
				<h2 class="hero-text2 display-4"> to reality...</h2>
			</div>
		</div>
	</div>
</div>

<!--About section-->


<div class="container-fluid content-format  about-section" id="About">
	<div class="container">
	
		<div class="col-lg-12">	
			<div class="row">
				<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 about-text">
				
					<h2 class="section-heading about-heading">
						Who  am i.. 
					</h2>
					<p class="about-text">My name is Muso, The one who founded this awesome company. 
							My main aim was to provide technological solutions
							fitted to our clients needs. We have setup ourselves to offer modern solutions
						 to our clients tech problems.
							<br>
							Innovation is our credo. Which is the primary
							aspect of our core values. This is found in our
							wortk ehtic and the value we put in the service we giv out.
							<br>
							Having been involved deeply in business operations, I aim engage with you at a
							business level from your perspective and offer solutions that best fit your needs. 
							Enroute is not just an IT company, its an IT made by and for business people. 
							
						</p>
						<p>Follow me:</p>
						<div class='row social-icons'>
							
							<div class="icons">
								<i class="fab fa-facebook "></i>
							</div>
							
							<div class="icons">
								<i class="fab fa-twitter "></i>
							</div>
							<div class="icons">
								<i class="fab fa-linkedin "></i>
							</div>
						</div>
						
				</div>
				
				<div class="col-lg-6 about-media">	
							
					
						<%= image_set_tag 'MusoProfile_qgsqid_c_scale,w_1400.png', { 
						
							'MusoProfile_qgsqid_c_scale,w_200.png'	=> '200w',
							'MusoProfile_qgsqid_c_scale,w_386.png'	=> '386w',
							'MusoProfile_qgsqid_c_scale,w_514.png'	=> '514w',
							'MusoProfile_qgsqid_c_scale,w_625.png'	=> '625w',
							'MusoProfile_qgsqid_c_scale,w_714.png'	=> '714w',
							'MusoProfile_qgsqid_c_scale,w_790.png'	=> '790w',
							'MusoProfile_qgsqid_c_scale,w_860.png'	=> '860w',
							'MusoProfile_qgsqid_c_scale,w_926.png'	=> '926w',
							'MusoProfile_qgsqid_c_scale,w_983.png'	=> '983w',
							'MusoProfile_qgsqid_c_scale,w_1043.png'	=> '1043w',
							'MusoProfile_qgsqid_c_scale,w_1098.png'	=> '1098w',
							'MusoProfile_qgsqid_c_scale,w_1153.png'	=> '1153w',
							'MusoProfile_qgsqid_c_scale,w_1205.png'	=> '1205w',
							'MusoProfile_qgsqid_c_scale,w_1253.png'	=> '1253w',
							'MusoProfile_qgsqid_c_scale,w_1301.png'	=> '1301w',
							'MusoProfile_qgsqid_c_scale,w_1349.png'	=> '1349w',
							'MusoProfile_qgsqid_c_scale,w_1395.png'	=> '1395w',
							'MusoProfile_qgsqid_c_scale,w_1398.png'	=> '1398w',
							'MusoProfile_qgsqid_c_scale,w_1400.png'	=> '1400w'
							}, sizes: '100vw', :class => 'img-fluid' %>
						
					
					
					<div class="bottom-right">	
						<div class="name-details">
							 <h5> Musomoka Chilimboyi</h5>
							<p> Managing Owner </p>
						</div>
					</div>	
					
				</div>

			</div>
		</div>
	</div>
</div>

<!--SERVICES SECTION-->

<div class="container-fluid services-section" id="Services">
	<div class="container content-format">
		<div class= "col-lg-12">
			<div class= "row">
				<h2 class=" service-heading">Services </h2>
			</div>
			
			<div class="row">

				<div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
					<div class="row icons">
						<i class="fas fa-mobile-alt "></i>
					</div>

					<div class="row service-subhead">
						<h4>UX/UI DESIGN </h4>
					</div>
					<div class="row">
						<p class='service-paragraph'>User experience is key to giving your audience a compelling experience.
							<br />
							We design platforms with a strong emphasise on clients needs and goals.
						</p>
					</div>
				</div>

				<div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
					<div class="row icons">
						<i class="far fa-clipboard "></i>
					</div>
					<div class="row  service-subhead">
						<h4>Business Training</h4>
					</div>
					<div class="row">
						<p class='service-paragraph'>With over ten years in business proccesses developement and training.
							<br />
							We expert in training staff in business procceses, its technologies and varied solutions.
						</p>
					</div>
				</div>

				<div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
					<div class="row icons">
						<i class="fas fa-globe "></i>
					</div>
					<div class="row service-subhead">
						<h4>Web Developement<br /></h4>
					</div>
					<div class="row">
						<p class='service-paragraph'>We supply non indipendent consulting services in IT solutions. This ensures that the 
						our recommendations are targeted at matching clients needs with suitable quality software and Hardware. 
						</p>
					</div>
				</div>

				

				<div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
					<div class="row icons">
						<i class="fas fa-laptop "></i>
					</div>
					<div class="row service-subhead">
						<h4>Hardware/Software</h4>
					</div>
					<div class="row">
						<p class='service-paragraph'>User experience is key to giving your audience a compelling experience.
							<br />
							We design platforms with a strong emphasise on clients needs and goals.
						</p>
					</div>

				</div>



			
			</div>
		</div>
	</div>
</div>

<!--Portfolio section-->
	


<!--Contact section-->


<div class="container-fluid contact-form content-format" id="Contact">
	<div class="container-fluid form-bg">	
		<div class="row">
		<%= render 'contacts/form' %>
		</div>
	</div>
</div>




