<!--HERO SECTION-->

<div class="container-fluid" id='#Home'>
	<div class="row">

		<div class="jumbotron col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="hero-content ">
				<h1 class="hero-text1 display-2 "> We bring your dreams</h1>
				<h2 class="hero-text2 display-4"> to reality "</h2>
			</div>
		</div>
	</div>
</div>

<!--About section-->


<div class="container-fluid content-format  about-section" id="About">
	<div class="container">
	
		<div class="col-lg-12">	
			<div class="row">
				<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 about-text">
				
					<h2 class="section-heading about-heading">
						About Me 
					</h2>
					<p class="about-text">At Enroute Technologies i  aim to provide technological solutions
							perfectly fitted to our clients needs. The firm offers modern ideas
							and concepts in design that will place our work amongst the
							top local companies and international audience..
							<br>
							Innovation is our credo. Which is the primary
							aspect of our core values. This is found in our
							wortk ehtic and the value we put in the service we giv out.
							<br>
							Having been involved deeply in business operations, I aim engage with you at a
							business level from your perspective and offer solutions that best fit your needs. 
							Enroute is not just an IT company, its an IT made by and for business people. 
						</p>
						<p>Follow me:</p>
						<div class='row social-icons'>
							
							<div class="icons">
								<i class="fab fa-facebook "></i>
							</div>
							
							<div class="icons">
								<i class="fab fa-twitter "></i>
							</div>
							<div class="icons">
								<i class="fab fa-linkedin "></i>
							</div>
						</div>
						
				</div>
				
				<div class="col-lg-6 about-media">	
						<%= image_tag 'MusoProfile.png', class:"img-fluid ml-auto", alt:"Responsive image" %>	
					<div class="bottom-right">Musomoka Chilimboyi<br>Managing Owner </div>	
					<div class="bottom-right"></div>
				</div>

			</div>
		</div>
	</div>
</div>

<!--SERVICES SECTION-->

<div class="container-fluid services-section" id="Services">
	<div class="container content-format">
		<div class= "col-lg-12">
			<div class= "row">
				<h2 class=" service-heading">Services </h2>
			</div>
			
			<div class="row">

				<div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
					<div class="row icons">
						<i class="fas fa-mobile-alt "></i>
					</div>

					<div class="row service-subhead">
						<h4>UX/UI DESIGN <br /> </h4>
					</div>
					<div class="row">
						<p class='service-paragraph'>User experience is key to giving your audience a compelling experience.
							<br />
							We design platforms with a strong emphasise on clients needs and goals.
						</p>
					</div>
				</div>

				<div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
					<div class="row icons">
						<i class="far fa-clipboard "></i>
					</div>
					<div class="row  service-subhead">
						<h4>Business Training</h4>
					</div>
					<div class="row">
						<p class='service-paragraph'>With over ten years in business proccesses developement and training.
							<br />
							We expert in training staff in business procceses, its technologies and varied solutions.
						</p>
					</div>
				</div>

				<div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
					<div class="row icons">
						<i class="fas fa-globe "></i>
					</div>
					<div class="row service-subhead">
						<h4>Web Developement<br /></h4>
					</div>
					<div class="row">
						<p class='service-paragraph'>We supply non indipendent consulting services in IT solutions. This ensures that the 
						our recommendations are targeted at matching clients needs with suitable quality software and Hardware. 
						</p>
					</div>
				</div>

				

				<div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
					<div class="row icons">
						<i class="fas fa-laptop "></i>
					</div>
					<div class="row service-subhead">
						<h4>Hardware & Software</h4>
					</div>
					<div class="row">
						<p class='service-paragraph'>User experience is key to giving your audience a compelling experience.
							<br />
							We design platforms with a strong emphasise on clients needs and goals.
						</p>
					</div>

				</div>



			
			</div>
		</div>
	</div>
</div>

<!--Portfolio section-->
	


<!--Contact section-->


<div class="container-fluid contact-form content-format" id="Contact">
	<div class="container-fluid form-bg">
		<div class="row">
			<h2 class="section-heading contact-heading">Contact</h2>
		</div>
		<form>
		<div class="row ">
		
			<div class=" col-lg-6 col-md-12 col-sm-12 col-xs-12">			
					<div class="form-group">
						<label for="InputEmail1"> Full Name</label>
						<input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Full Name">

					</div>
					<div class="form-group">
						<label for="InputEmail1">Email address</label>
						<input type="email" class="form-control " id="InputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
						<small id="emailHelp" class="form-text">We'll never share your email with anyone else.</small>
					</div>
			</div>

			<div class=" col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
				<div class="form-group">
					<label for="messageInput">Message </label>
					<textarea type="textarea" class="form-control" rows="4" id="messageInput" style="height: 126px"></textarea>

				</div>
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</div>
		</form>
		

	</div>
</div>



<!-- Footer -->
<footer class="page-footer fixed-bottom font-small blue pt-2">
	<!-- Copyright -->
	<div class="footer-copyright text-center py-3">© 2018 Copyright:
		<a href="https://mdbootstrap.com/education/bootstrap/"> enrouteTech.com</a>
	</div>
	<!-- Copyright -->

</footer>
<!-- Footer -->

