<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Tangerine" rel="stylesheet">
    <title id="title">THE MALCOM X TRIBUTUTE</title>
</head>

<body>
    <div id="main">
        <div class="container">
            <div class="well main-background">
                <div class="row">
                    <div class="head-text col-md-12">
                        <h1>The Malcolm</h1>
                        <h1 class="logo">X</h1>
                        <h1>Tribute</h1>
                    </div>
                    <blockquote class="col-md-6 blockquote logo">
                        <i>The man who lead a movement</i>
                    </blockquote>
                </div>
                <div class="row">
                    <div class="left-side col-md-8 col-center">
                        <div class="main-image">
                            <div class="col-md-4" id="image-div"><img id="image" alt="Image unavailable" class="img-responsive"
                                    src="https://4.bp.blogspot.com/-dxxRUG3u3GM/WK1KLQC8yYI/AAAAAAAACmE/vrM_cTUkxUccKNnikgxktCuoPHbuNqlCgCLcB/s1600/malcom.jpeg"></div>
                            <div class="col-md-4"><img alt="Image unavailable " class="img-responsive" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d7/Malcolm_X_NYWTS_4.jpg/170px-Malcolm_X_NYWTS_4.jpg"></div>
                            <div class="col-md-4"><img alt="Image unavailable " class="img-responsive" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Malcolm_X_NYWTS_2a.jpg/800px-Malcolm_X_NYWTS_2a.jpg"></div>
                            <p id="img-caption style=" color: white;">
                                <i">He lived and died believing his beliefs...</i><br>
                            </p>
                        </div>
                        <div class="time-line">
                            <h2>The life of Malcolm X</h2>
                            <ul>
                                <li>
                                    <em>1925</em>
                                    <p>Malcolm X is born</p>
                                </li>
                                <li>
                                    <em>1929</em>
                                    <p>Malcolm X is born</p>
                                </li>
                                <li>
                                    <em>1931</em>
                                    <p>Malcolm X is born</p>
                                </li>
                                <li>
                                    <em>1946</em>
                                    <p>Malcolm X is sentenced to jail for 6 years</p>
                                </li>
                                <li>
                                    <em>1953</em>
                                    <p>Malcolm X Changes his name to X</p>
                                </li>
                                <li>
                                    <em>1954</em>
                                    <p>Malcolm X made a minister of the nation of islam's New York Temple</p>
                                </li>
                                <li>
                                    <em>1958</em>
                                    <p>Malcolm X gets married to Mary</p>
                                </li>
                                <li>
                                    <em>1965</em>
                                    <p>Malcolm X gets assanitated whilst speaking in New York</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="quotes col-md-3">
                        <H2>Malcom X Quotes</h2>
                        <hr>
                        <p>We need more light about each other. Light creates understanding, understanding creates
                            love, love creates patience, and patience creates unity.</p>
                        <hr>
                        <p>A wise man can play the part of a clown, but a clown can't play the part of a wise man.</p>
                        <hr>
                        <p>When 'I' replaced with 'We', even the illness becomes wellness.</p>
                        <hr>
                        <p>If you don't stand for something you will fall for anything. Malcolm X</p>
                    </div>
                    <div class="container">
                        <h4>
                        <a id="tribute-info" href="https://en.wikipedia.org/wiki/Malcolm_X"> For more information
                            please check out the wikipedia page
                        </a>
                     </h4>
                    </div>
                </div>
            </div>


            <footer>
                <h4>The Website was created by MUSOMOKA<h4>
            </footer>

        </div>
    </div>
</body>

</html>