
<div class="container-fluid">
        <div class="row">
                <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                    <div class="sidebar-sticky">  
                        <%= render 'admin_menu' %>
                    </div>
                </nav>

                <div class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                    <h2>About</h2>

                    <%= render '/abouts/abouts' %>
                </div>
                <div class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4" id="porfolio_admin">
                    <h2>Portflio</h2>

                    <%= render '/portfolios/portfolio' %>
                </div>
            </div>
        </div>
    </div>
</div>

a