<footer class="page-footer fixed-bottom font-small blue pt-2">
    <div class='row'>
        <div class="col-lg-6">
            <div class="footer-copyright text-right py-3 ">
                <div>
                    © 2018 Copyright:<a href="www.enroutetechnology.com"> enroutetechnology.com</a>
                </div>
            </div>
        </div>



        <div class="col-lg-6">
            <div class="text-left py-3">
                <% if user_signed_in? %>

                <div class="col-lg-1 admin">
                    <%= link_to('Logout', destroy_user_session_path, method: :delete ) %>
                     <%= link_to('Admin', admins_path)  %>
                </div>
                <% else %>

                <div class="col-lg-1 admin">
                 <%= link_to('Login', new_user_session_path)  %>
                   
                </div>
                <% end %>
            </div>
        </div>
    </div>


</footer>