// Place all the styles related to the admins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$admin-lightgrey: rgb(180, 173, 173);

/*.admin {
    background-color: $admin-lightgrey;
    padding-top: 1vh;
    padding-right: 0px;
    width: 100vw;
}
*/