


$main-grey:rgb(66, 95, 112);
$opacity-grey:rgba(68, 93, 107, 0);
$default-sec: rgb(255, 137, 27); 
$default-light: rgb(198, 232, 245);
$default-primary: rgb(102, 212, 255);


/*.navbar-collapse navbar-toggle {
  align-self: flex-end;
  margin-right: 3vw;
  background-color: $default_dark;
  padding: 2em;
  
  margin-right: 0px;
  border-radius: -2px;
 

}*/

.navbar {
  
  height: 8vh;
  z-index: 2;
 
}
.bg-cust {
    background-color: $default-sec;
    margin-bottom: 0;
    padding-left: 5%;
    padding-right: 5%;

    a{
      color: orange;
    }
}


  .jumbotron {
    background-image: image-url("hero.jpg");
    background-attachment: inherit;
    background-repeat: no-repeat;
    border-radius: 0rem; 
    background-position: center; 
    background-size: cover;
    padding-bottom: 10vh;
    margin-bottom: 0;
    
  }
  
  
  .hero-text1 {
    font-family: 'Source Code Pro', monospace;
    margin-top: 10vmax;
    font-size: 4vw;
    color: $default-light; 
    margin-bottom: 2vh;
    border-radius: 3px;
    font-style: italic;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    position: relative;
    display: flex;
    text-shadow: 1px 1px  black;
    flex-wrap: wrap;
    
  
  }
  .hero-text2{
    font-family: 'Source Code Pro', monospace;
    border-radius: 3px;
    font-style: italic;
    text-align: center;
    vertical-align: middle;
    position: relativ;
    font-size: 2vw;
    color: $default-light;
    text-shadow: 1px 1px black;
    
  }
    
  .hero-text2::after{
    content: "";
    display: block;
    height: 2px;
    width: 25vw;
    border: 0;
    border-top: 3px solid;
    color: $default-sec;
    flex-wrap: wrap;
    margin-top: 4vh;
    margin-bottom: 10vh;
    color: $default-sec;
    
    
  }
  .hero-text1::before{
    content: "";
    margin-bottom: 4vh;
    display: block;
    height: 2px;
    width: 20vw;
    border: 0;
    border-top: 3px solid;
    margin-left: 30vw;
    
    color: $default-sec;
  }
body{
  background-color: $default-light;
}
.body-css {
  margin: 6vh;
 
}

  a.nav-link:active {
    list-style-position:inside;
    border: 1px solid skyblue;
    color: lightskyblue;
    padding: 4px 6px;
    margin-top: 2px;
    margin-right: 5px;
}

a.nav-link {
  color: white;
 
}


a.borderlist {
  color:skyblue;
  font-size: 0.9rem;

}

.navbar-brand:hover{

    color: #fff;
    background-color: rgba(255, 165, 30, 0);
  
}
.first-brand{
  color: white; 
  padding:0;
  margin-left: 0;

}
.second-brand{
  
  border-radius: 3px;
  padding:0;  
  margin-left: 0;

}
a.first-brand{
  color: skyblue;
  margin-right: -0.2em;
  display: inline;
  
 
  
  
}
a.second-brand {
  margin-left: 0;
   padding: 0;
  display: inline;
 

}

.navbar-brand {
  font-family: "Oswald", serif;
  font-weight: 200;
  font-style: italic;
  font-size: 1.3em;
  margin-right: 0;
}

.first-brand::after{
  content: "";
  display: block;
  height: 3 px;
  border: 0;
  border-top: 1px solid;
  padding: 0;
  color: skyblue;

}
.second-brand::before{
  content: "";
  display: block;
  height: 3px;
  position: 0;
  border: 0;
  border-top: 1px solid;
  color:skyblue;
  padding: 0;
  

}
.services-section{
background-color: $default-sec;
min-height:60vh;
line-height: 24px;
padding-bottom: 10px;

}

 

.service-paragraph {
 
  margin: 0px 15px;
  color: white;
  text-align: left;
}

h2 {

  font-family: 'Proza Libre', sans-serif;


}


h3 {
  text-align: left; 
 
}

.icon-sphere:before {
  content: "\e9c9";
  display: inline-block;
}

.icons {
  color: white;
  font-size: 35px;
  color: $default-light;
  
 
  margin: 4px 4px;    

}

.service-heading {
   color: white;
   margin: 2em 2em 0em 0em;

}

.service-subhead {
  color: white;
  margin: 0.5em 0%;
  height: 1.5em;
}

.porfolio-section {
  margin-top: 80px;
 
  background-color: white;
}

.content-format {
 display: flex;
  
}

.portfolio-thumb{
  
  margin: 1em 2em;
 
  
}

.portfolio-heading {
  color: $main-grey;
}


.portfolio-thumb::after {
  position: absalute;
  content:"";
  top:0;
  left:0;
  width: inherit;
  height: inherit;
  color:skyblue;
}

.portfolio-thumb:hover::after  {
  opacity: 0.1;
}

.blue::after {
  background-color: skyblue;
}

.about-section {
  background-color: rgba(81, 95, 103, 0.7);
 
}

.about-text {
  
  color: white; 
}



.about-heading {
  
  color: white;
  padding-top:  4vw;
}

.contact-form {
    background-image: image-url("bg-contact.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 90vh;
  }
  
.contact-heading{
  color: white;
  margin-bottom: 1em;
}
.about-media {
  padding-top:  2vw;
}
.bottom-right {
  font-size: 1vw;
  position: absolute;
  bottom: 2vh;
  right: 15vw;
  color: $default-light;
  background-color: $opacity-grey;
}
.form-bg {

  opacity: 6;
  padding:1em 3.5em;
  border-radius: 0em;
  margin: 5vh;
  size: 100vmin;  
}

.message-textarea { 
  height: 120px;
}
label{
  color: white;
}
.btn-primary {
  background-color: skyblue;
  border-color: skyblue;

}
hr {
  display: block;
  height: 1px;
  width: 1em;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.page-footer{
  background-color: $default-light;
 
} 